# API
PORT=40003
APP_NAME=ecommerce-api
APP_DESCRIPTION=Ecommerce API
APP_VERSION=1.0.0
CORS_ENABLED=true
CORS_ORIGINS=*
SWAGGER_ENABLED=true
SWAGGER_PATH=docs
SWAGGER_JSON_PATH=openapi-json
SWAGGER_YAML_PATH=openapi-yaml
SWAGGER_FO_PATH=docs/fo
SWAGGER_BO_PATH=docs/bo
SWAGGER_FO_JSON_PATH=openapi/fo-json
SWAGGER_BO_JSON_PATH=openapi/bo-json

# MySQL
DB_HOST=127.0.0.1
DB_PORT=3309
DB_NAME=ecommerce_demo
DB_USER=ecommerce
DB_PASSWORD=ecommerce
DB_ROOT_PASSWORD=root
